pip~=25.1
Django~=4.1
asgiref~=3.8.1
sqlparse~=0.5.3
djangorestframework~=3.16.0
rest_framework_simplejwt~=0.0.2

PyYAML~=6.0.2
uritemplate~=4.1.1
inflection~=0.5.1
pytz~=2025.2
drf-yasg~=1.21.10
dotenv~=0.9.9
python-dotenv~=1.1.0